{% extends "base.html" %}


{% block content %}

<h1><i class="fa fa-angle-right"></i>Projeto XXX</h1>
<div class="row mt">
  <div class="col-md-12">
      <div class="content-panel">
          <table class="table table-striped table-advance table-hover">
      	  	  <h4><i class="fa fa-angle-right"></i> Tarefas</h4>
      	  	  <hr>
              <thead>
              <tr>
                  <th><i class="fa fa-bullhorn"></i> Tarefa</th>
                  <th><i class="fa fa-bookmark"></i> Descrição</th>
                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Link</th>
                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Soluções</th>
                  <th class="centered"><i class=" fa fa-edit"></i> Solucionar</th>
                  <th></th>
              </tr>
              </thead>
              <tbody>
                {% for tarefa in object_list %}
                    <tr>
              			<td>{{ tarefa.titulo }}</td>
              			<td>{{ tarefa.descricao }}</td>
              			<td>Permalink</td>
              			<td>{{ tarefa.numeroSolucoes }}</td>
                        <td class="centered"><a href="{{ tarefa.get_solucao_new_url }}"  class="btn btn-primary btn-xs" ><i class="fa fa-pencil"></i></a></td>
                    </tr>
                {% endfor %}
              
                  
              </tbody>
          </table>
      </div><!-- /content-panel -->
  </div><!-- /col-md-12 -->
</div><!-- /row -->

{% endblock content %}









