{% extends "base.html" %}


{% block content %}
<h1><i class="fa fa-angle-right"></i>Projeto XXX</h1>
<div class="row mt">
  <div class="col-md-12">
      <div class="content-panel">
          <table class="table table-striped table-advance table-hover">
      	  	  <h4><i class="fa fa-angle-right"></i> Issues</h4>
      	  	  <hr>
              <thead>
              <tr>
                  <th><i class="fa fa-bullhorn"></i> Titulo</th>
                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Descrição</th>
                  <th class="hidden-phone"><i class="fa fa-question-circle"></i> Link</th>
                  <th><i class="fa fa-bookmark"></i> Soluções</th>
                  <th class="centered"><i class=" fa fa-edit"></i> Solucionar</th>
                  <th ></th>
              </tr>
              </thead>
              <tbody>
                {% for issue in object_list %}
                    <tr>
              			<td>{{ issue.titulo }}</td>
              			<td>{{ issue.descricao }}</td>
              			<td>Permalink</td>
              			<td>{{ issue.numeroSolucoes }}</td>
                        <td class="centered"><a href="{{ issue.get_solucao_new_url }}"  class="btn btn-primary btn-xs" ><i class="fa fa-pencil"></i></a></td>
                    </tr>
                {% endfor %}
              
                  
              </tbody>
          </table>
      </div><!-- /content-panel -->
  </div><!-- /col-md-12 -->
</div><!-- /row -->

{% endblock content %}







