{% extends "base.html" %}


{% block content %}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">PROBLEMA </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                <div class="panel-heading">
                    NOVO PROBLEMA
                </div>
                <div class="panel-body">
                    <form method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Submit" />
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}