{% extends "base.html" %}


{% block content %}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">UserStory </h1>
                <span><a href="{% url 'problema_new' %}" class="btn btn-primary">Novo +</a></span>
            </div>
        </div>
        <div class="row">
            <div class="panel-body">
                <h3>Sprint: {{ sprint.nome }} </h3>
                {% for userstory in object_list %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4><a href="{{ userstory.get_tarefas_url }}">{{ userstory.titulo }}</a></h4>
                    </li>
                </ul>
                {% endfor %}
            </div>
            
            
        </div>
    </div>
</div>

{% endblock content %}










